# NPM dependencies
node_modules

# IDE config
.idea

# Build artifacts / test reports
dist
coverage
# Frontend build artifacts
/web/.astro

# Backend build artifacts
/backend/public
/backend/drizzle
/backend/**/*.db

# Logs
log.txt
test-log.txt
