# NPM dependencies
node_modules

# IDE files
.idea

# Frontend build files
.astro
/web/dist

# Backend possible build outputs
/backend/public
/backend/drizzle
/backend/coverage
/backend/dist

# Logs
**/log.txt
**/test-log.txt