# NPM dependencies
node_modules

# IDE config
.idea

# Build artifacts / test reports
dist
coverage
/docs

# Frontend build artifacts
/web/.astro

# Backend build artifacts
/backend/public
/backend/drizzle

# Logs
log.txt
test-log.txt
