---
import HeaderBar from "../components/navigation/HeaderBar.astro";
import LeftNav from "../components/navigation/LeftNav.astro";
import Footer from "../components/navigation/Footer.astro";
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

var { title, user_profile_pic } = Astro.props;
title = `CoachCraft ${title}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <!-- Astro.js SPA mode, page transitions -->
    <ClientRouter />
  </head>

  <body class="bg-bg-black mx-5 my-1">
    <HeaderBar user_profile_pic={user_profile_pic} />

    <div class="grid grid-cols-[auto_1fr] gap-4">
      <LeftNav />
      <div class="flex w-full justify-center">
        <slot />
      </div>
    </div>

    <Footer />
  </body>
</html>
