---
import HeaderBar from "../components/HeaderBar.astro";
import LeftNav from "../components/LeftNav.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

var { title } = Astro.props;
title = `CoachCraft ${title}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <!-- Astro.js SPA mode, page transitions -->
    <ClientRouter />
  </head>
  <body class="bg-bg-black mx-6 my-4">
    <HeaderBar />
    <LeftNav />

    <slot />

    <Footer />
  </body>
</html>
