---
import HeaderBar from "../components/HeaderBar.astro";
import LeftNav from "../components/LeftNav.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

var { title, user_profile_pic } = Astro.props;
title = `CoachCraft ${title}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <!-- Astro.js SPA mode, page transitions -->
    <ClientRouter />
  </head>
  <body class="bg-bg-black mx-5 my-1">
    <HeaderBar user_profile_pic={user_profile_pic} />

    <div class="flex flex-row">
      <LeftNav class="flex-none" />

      <div class="flex-1 pl-15 pr-10 pt-10">
        <slot />
      </div>
    </div>

    <Footer />
  </body>
</html>
