---
import reactify from "../../utils/reactify";

// isSelected should be a function that returns a Boolean
var { label, id, isSelected, onClick } = Astro.props;

const x_data = `{ 
  ${reactify(label, "label")}, 
  ${reactify(id, "id")}, 
  ${isSelected},
  ${reactify(onClick, "onClick")}
}`;
---

<div
  x-bind:class="{
    'bg-low-contrast-grey': isSelected(), 
    'bg-neutral-800 dark:text-primary-dark': !isSelected()
  }"
  x-data={x_data}
  @click="onClick(id);"
  class={`
        rounded-lg
        border border-primary
        px-4 py-2
        block
        text-sm font-medium
        text-primary
        text-left
        select-none
        truncate
        tracking-wide
        transition
        cursor-pointer

        hover:opacity-75

        focus-visible:outline-2 
        focus-visible:outline-offset-2 
        focus-visible:outline-primary

        active:opacity-100 
        active:outline-offset-0

        disabled:opacity-75 
        disabled:cursor-not-allowed

        dark:border-low-contrast-grey 

        dark:focus-visible:outline-primary-dark
      `}
>
  <span x-text="label"></span>
</div>
