---
import MainLayout from "../layouts/MainLayout.astro";
import ListButton from "../components/ListButton.astro";
import TextInput from "../components/TextInput.astro";
import TextArea from "../components/TextArea.astro";
import Button from "../components/Button.astro";
import DropDown from "../components/DropDown.astro";

import Image from "astro/components/Image.astro";
---

<MainLayout title="Activities">
  <div x-data class="flex flex-row
                mt-3">
    <!-- activities list -->
    <div class="w-64
                pr-5
                overflow-y-auto">
      <div class="flex flex-col gap-y-8">
        <div class="flex flex-col gap-y-2">
          <Button
            type="button"
            label="Create Activity"
            handleClick="$store.pages.activities.createActivity()"
          />

          <DropDown
            label="$store.pages.activities.selectedListName"
            items="$store.pages.activities.listsList"
            handleListSwitch="$store.pages.activities.handleListSwitch(id)"
          />
        </div>

        <div x-data class="flex flex-col gap-y-3">
          <template
            x-for="activity in $store.pages.activities.selectedListActivities"
            :key="activity.id"
          >
            <ListButton
              label="activity.name"
              id="activity.id"
              isSelected="isSelected() { return $store.pages.activities.selectedActivity == activity.id; }"
              handleClick="$store.pages.activities.handleActivitySelection(id)"
            />
          </template>
        </div>
      </div>
    </div>

    <!-- edit activity -->
    <div
      class="pl-5
            border-1
            border-l-gray-500/50
            border-r-0
            border-y-0
            
            flex flex-col
            justify-center
            gap-5"
    >
      <!-- manage lists -->
      <div
        x-data
        x-transition
        x-show="$store.pages.activities.rightPanelState == 'manage_lists'"
      >
      </div>

      <!-- place holder for when no activity is selected -->
      <div
        x-data
        x-transition
        x-show="$store.pages.activities.rightPanelState == 'placeholder'"
      >
        <p class="text-center">Select or Create new Activity to get started.</p>
      </div>

      <!-- edit activity form -->
      <div
        class="flex flex-col gap-5"
        x-data
        x-transition:enter="transition ease-out duration-400"
        x-transition:enter-start="opacity-0 scale-85"
        x-transition:enter-end="opacity-100 scale-100"
        x-show="$store.pages.activities.rightPanelState == 'edit_activity'"
      >
        <div>
          <div
            class="aspect-[16/5]
                            overflow-hidden
                            rounded-lg
                            brightness-80"
          >
            <Image
              src="/images/activity_img_placeholder.jpg"
              alt="brand logo"
              width="500"
              height="200"
            />
          </div>
        </div>

        <form
          class="flex flex-col gap-5"
          @submit.prevent="$store.pages.activities.handleSaveChanges(event)"
        >
          <div class="flex flex-col gap-5">
            <TextInput
              name="activityName"
              label="Activity Name"
              required
              placeholder="Activity"
              value="$store.pages.activities.selectedActivityObj?.name || ''"
            />
            <TextInput
              name="duration"
              label="Duration"
              required
              placeholder="HH:MM"
              value="$store.pages.activities.selectedActivityObj?.duration || ''"
            />
            <TextArea
              name="description"
              label="Description"
              placeholder="Brief description such as sets, laps, plan, etc."
              rows="10"
              value="$store.pages.activities.selectedActivityObj?.description || ''"
            />
          </div>

          <div class="flex gap-3">
            <Button type="submit" label="Save Changes" width="fit" />
            <Button
              type="button"
              label="Reset Changes"
              width="fit"
              handleClick="$store.pages.activities.handleResetChanges()"
            />
            <Button
              type="button"
              label="Delete Activity"
              width="fit"
              handleClick="$store.pages.activities.handleDeleteActivity()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</MainLayout>
