---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Dashboard">
  <a class="rounded-md bg-blue-800 p-2" id="login" href="/login">Login</a>
  <a class="rounded-md bg-red-800 p-2" id="logout" href="/logout">Logout</a>
</MainLayout>
