---
import MainLayout from "../layouts/MainLayout.astro";
import ListButton from "../components/ListButton.astro";
import TextInput from "../components/TextInput.astro";
import TextArea from "../components/TextArea.astro";
import Button from "../components/Button.astro";
import DropDown from "../components/DropDown.astro";
import Image from "astro/components/Image.astro";
---

<MainLayout title="Scheduling">
  <div class="flex h-full" x-data>
  </div>
</MainLayout>
