@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

/* 
PenguinUI "Modern" theme, for fine-grained customization the PenguinUI website has a great GUI at https://www.penguinui.com/theme
The GUI spits an updated set of these variable declarations, after customization.
*/
