---

---

<!-- Usage

    - wrap component in an outer HTML element
    - define the following variables with in $store with x-data in the outer HTML element
    
    {
        get items() { return $store.Object; },  // array of JSON objects, each obj should contain `item.id` (str), `item.name` (str)
        
        get label() { return $store.""; },  // str for label on the toggle button
        
        handleSelect(item): (item) => $store.func(item),  // func runs on @click, supplies JSON obj for dropdown `item` selected
    }

 -->
<div
  x-data="{ isOpen: false, openedWithKeyboard: false }"
  class="relative w-full"
  x-on:keydown.esc.window="isOpen = false, openedWithKeyboard = false"
>
  <!-- Toggle Button -->
  <button
    type="button"
    x-on:click="isOpen = ! isOpen"
    class="bg-transparent
                rounded-lg
                w-full
                border-2 border-primary
                px-4 py-2
                block
                text-sm font-medium
                text-primary
                text-left
                truncate
                tracking-wide
                transition
                cursor-pointer
                hover:opacity-75
                focus-visible:outline-2
                focus-visible:outline-offset-2
                focus-visible:outline-primary
                active:opacity-100
                active:outline-offset-0
                disabled:opacity-75
                disabled:cursor-not-allowed
                dark:border-low-contrast-grey
                dark:text-primary-dark
                dark:focus-visible:outline-primary-dark"
    aria-haspopup="true"
    x-on:keydown.space.prevent="openedWithKeyboard = true"
    x-on:keydown.enter.prevent="openedWithKeyboard = true"
    x-on:keydown.down.prevent="openedWithKeyboard = true"
    x-bind:class="isOpen || openedWithKeyboard ? 'text-on-surface-strong dark:text-on-surface-dark-strong' : 'text-on-surface dark:text-on-surface-dark'"
    x-bind:aria-expanded="isOpen || openedWithKeyboard"
  >
    <div class="flex items-center justify-between gap-2">
      <span x-text="label"></span>

      <svg
        aria-hidden="true"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-4 rotate-0 justify-self-end"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
      </svg>
    </div>
  </button>

  <!-- Dropdown Menu -->
  <div
    x-cloak
    x-show="isOpen || openedWithKeyboard"
    x-transition
    x-trap="openedWithKeyboard"
    x-on:click.outside="isOpen = false, openedWithKeyboard = false"
    x-on:keydown.down.prevent="$focus.wrap().next()"
    x-on:keydown.up.prevent="$focus.wrap().previous()"
    class="absolute
              top-10.5
              flex w-full flex-col
              overflow-hidden rounded-radius
              border border-outline
              backdrop-blur-md
              py-1
              dark:border-low-contrast-grey
              dark:bg-surface-dark-alt
              rounded-lg
              z-10"
    role="menu"
  >
    <template x-for="item in items" :key="item.id">
      <div
        class="bg-surface-alt
                px-4 py-2
                text-sm
                text-on-surface
                select-none
                cursor-pointer
                hover:bg-surface-dark-alt/5
                hover:text-on-surface-strong
                focus-visible:bg-surface-dark-alt/10
                focus-visible:text-on-surface-strong
                focus-visible:outline-hidden
                dark:bg-surface-dark-alt
                dark:text-on-surface-dark
                dark:hover:bg-surface-alt/5
                dark:hover:text-on-surface-dark-strong
                dark:focus-visible:bg-surface-alt/10
                dark:focus-visible:text-on-surface-dark-strong"
        role="menuitem"
        x-text="item.name"
        @click="handleSelect(item); isOpen = false; openedWithKeyboard = false"
      >
      </div>
    </template>
  </div>
</div>
