---

---

<a
  type="button"
  href="#"
  x-bind:class="{
    'bg-low-contrast-grey dark:text-bg-black': isSelected, 
    'bg-neutral-800 dark:text-primary-dark': !isSelected 
  }"
  class={`
        rounded-lg
        border border-primary
        px-4 py-2
        block
        text-sm font-medium
        text-primary
        text-left
        truncate
        tracking-wide
        transition

        hover:opacity-75

        focus-visible:outline-2 
        focus-visible:outline-offset-2 
        focus-visible:outline-primary

        active:opacity-100 
        active:outline-offset-0

        disabled:opacity-75 
        disabled:cursor-not-allowed

        dark:border-low-contrast-grey 

        dark:focus-visible:outline-primary-dark
      `}
>
  <span x-text="label"></span>
</a>