---
import Button from "./Button.astro"

var {heading, action_label1} = Astro.props;
---

<div class="grid grid-cols-2
            pb-3">

    <div class="text-2xl
                self-start"
    >{heading}
    </div>

    <Button label="New Activity" 
        addClasses="justify-self-end"
        icon_url="/images/add_icon.svg"
    />

</div>