---
var { label, placeholder, rows } = Astro.props;
---

<div class="flex flex-col
            w-full max-w-md 
            gap-1 
            py-3
            text-on-surface 
            dark:text-on-surface-dark">
    <label for="textArea" class="w-fit pl-0.5 text-sm">{label}</label>
    <textarea id="textArea" 
            class="w-full 
                rounded-lg 
                border border-outline 
                bg-surface-alt 
                px-2.5 py-2 
                text-sm 
                max-h-80
                min-h-10
                focus-visible:outline-2 
                focus-visible:border-white 
                disabled:cursor-not-allowed 
                disabled:opacity-75 
                dark:border-low-contrast-grey 
                dark:bg-surface-dark-alt/50 
                dark:focus-visible:outline-primary-dark" 
                rows={rows} 
                placeholder={placeholder}
            ></textarea>
</div>